
/* ----------------------------- */
/* == soft reset                 */
/* ----------------------------- */
/* switching to border-box model for all elements */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
ul,
ol {
  padding-left: 2em;
}
ul.unstyled {
  list-style: none;
}
img {
  vertical-align: middle;
}
/* height auto only for non SVG images */
img:not([src$=".svg"]) {
  height: auto;
}
blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}
/* ----------------------------- */
/* == typography                 */
/* ----------------------------- */
html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  font-size: calc(1em * .625);
  /* disallow text zooming on orientation change (non standard property) */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  /* set body font-size in em (1.4em equiv "14px") */
  font-size: 1.4em;
  background-color: #ffffff;
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
a {
  color: #333333;
}
a:hover,
a:focus,
a:active {
  color: #000000;
}
/* font-sizing for content */
p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
  margin-top: 0.75em;
  margin-bottom: 0;
  line-height: 1.5;
}
h1,
.h1-like {
  font-size: 3.2rem;
  font-family: Helvetica, Arial, sans-serif;
}
h2,
.h2-like {
  font-size: 2.8rem;
  font-family: Helvetica, Arial, sans-serif;
}
h3,
.h3-like {
  font-size: 2.4rem;
}
h4,
.h4-like {
  font-size: 2rem;
}
h5,
.h5-like {
  font-size: 1.8rem;
}
h6,
.h6-like {
  font-size: 1.6rem;
}
/* alternate font-sizing */
.smaller {
  font-size: 0.6em;
}
.small {
  font-size: 0.8em;
}
.big {
  font-size: 1.2em;
}
.bigger {
  font-size: 1.5em;
}
.biggest {
  font-size: 2em;
}
code,
pre,
samp,
kbd {
  /* IE fix */
  white-space: pre-line;
  white-space: pre-wrap;
  font-family: Consolas, "DejaVu Sans Mono", Courier, monospace;
  line-height: normal;
}
em,
.italic,
address,
cite,
i,
var {
  font-style: italic;
}
small,
sub,
sup {
  font-size: smaller;
}
/* ----------------------------- */
/* == hiding content             */
/* ----------------------------- */
/* hidden but not for an assistive technology like a screen reader, Yahoo! method */
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
@media (max-width: 768px) {
  .no-small-screen {
    display: none;
  }
}
@media (min-width: 1280px) {
  .no-large-screen {
    display: none;
  }
}
/* ----------------------------- */
/* == browsers consistency       */
/* ----------------------------- */
/* avoid top margins on first content element */
p:first-child,
.p-like:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
.h1-like:first-child,
h2:first-child,
.h2-like:first-child,
h3:first-child,
.h3-like:first-child,
h4:first-child,
.h4-like:first-child,
h5:first-child,
.h5-like:first-child,
h6:first-child,
.h6-like:first-child {
  margin-top: 0;
}
/* avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}
/* margin-bottom on tables */
table {
  margin-bottom: 20px;
}