/* ---------------------------------- */
/* ==visual helpers                   */
/* .. use them with parcimony !       */
/* ---------------------------------- */

/* blocks widths (percentage and pixels) */
.w10 {
	width: 10%;
}

.w20 {
	width: 20%;
}

.w25 {
	width: 25%;
}

.w30 {
	width: 30%;
}

.w33 {
	width: 33.3333%;
}

.w40 {
	width: 40%;
}

.w50 {
	width: 50%;
}

.w60 {
	width: 60%;
}

.w66 {
	width: 66.6666%;
}

.w70 {
	width: 70%;
}

.w75 {
	width: 75%;
}

.w80 {
	width: 80%;
}

.w90 {
	width: 90%;
}

.w100 {
	width: 100%;
}

.w50p {
	width: 50px;
}

.w100p {
	width: 100px;
}

.w150p {
	width: 150px;
}

.w200p {
	width: 200px;
}

.w300p {
	width: 300px;
}

.w400p {
	width: 400px;
}

.w500p {
	width: 500px;
}

.w600p {
	width: 600px;
}

.w700p {
	width: 700px;
}

.w800p {
	width: 800px;
}

.w960p {
	width: 960px;
}

.mw960p {
	max-width: 960px;
}

.w1140p {
	width: 1140px;
}

.mw1140p {
	max-width: 1140px;
}

.wauto {
	width: auto;
}

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n = small, medium, large, none
*/
.man,
.ma0 {
	margin: 0;
}

.pan,
.pa0 {
	padding: 0;
}

.mas {
	margin: var(--small-value);
}

.mam {
	margin: var(--medium-value);;
}

.mal {
	margin: var(--large-value);;
}

.pas {
	padding: var(--small-value);
}

.pam {
	padding: var(--medium-value);;
}

.pal {
	padding: var(--large-value);;
}

.mtn,
.mt0 {
	margin-top: 0;
}

.mts {
	margin-top: var(--small-value);
}

.mtm {
	margin-top: var(--medium-value);;
}

.mtl {
	margin-top: var(--large-value);;
}

.mrn,
.mr0 {
	margin-right: 0;
}

.mrs {
	margin-right: var(--small-value);
}

.mrm {
	margin-right: var(--medium-value);;
}

.mrl {
	margin-right: var(--large-value);;
}

.mbn,
.mb0 {
	margin-bottom: 0;
}

.mbs {
	margin-bottom: var(--small-value);
}

.mbm {
	margin-bottom: var(--medium-value);;
}

.mbl {
	margin-bottom: var(--large-value);;
}

.mln,
.ml0 {
	margin-left: 0;
}

.mls {
	margin-left: var(--small-value);
}

.mlm {
	margin-left: var(--medium-value);;
}

.mll {
	margin-left: var(--large-value);;
}

.ptn,
.pt0 {
	padding-top: 0;
}

.pts {
	padding-top: var(--small-value);
}

.ptm {
	padding-top: var(--medium-value);;
}

.ptl {
	padding-top: var(--large-value);;
}

.prn,
.pr0 {
	padding-right: 0;
}

.prs {
	padding-right: var(--small-value);
}

.prm {
	padding-right: var(--medium-value);;
}

.prl {
	padding-right: var(--large-value);;
}

.pbn,
.pb0 {
	padding-bottom: 0;
}

.pbs {
	padding-bottom: var(--small-value);
}

.pbm {
	padding-bottom: var(--medium-value);;
}

.pbl {
	padding-bottom: var(--large-value);;
}

.pln,
.pl0 {
	padding-left: 0;
}

.pls {
	padding-left: var(--small-value);
}

.plm {
	padding-left: var(--medium-value);;
}

.pll {
	padding-left: var(--large-value);;
}
