/* quick print reset */

@media print {
    * {
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    body {
        width: auto !important;
        margin: auto !important;
        font-family: serif;
        font-size: 12pt;
        color: #333 !important;
        background-color: #fff !important;
    }

    p,
    .p-like,
    h1,
    .h1-like,
    h2,
    .h2-like,
    h3,
    .h3-like,
    h4,
    .h4-like,
    h5,
    .h5-like,
    h6,
    .h6-like,
    blockquote,
    ul,
    ol {
        margin: auto !important;
        color: #000 !important;
    }

    .print {
        display: block;
    }

    .no-print {
        display: none;
    }

    /* no orphans, no widows */

    p,
    .p-like,
    blockquote {
        orphans: 3;
        widows: 3;
    }

    /* no breaks inside these elements */

    blockquote,
    ul,
    ol {
        page-break-inside: avoid;
    }

    /* page break before main headers
  h1,
  .h1-like {
    page-break-before: always;
  }
  */

    /* no breaks after these elements */

    h1,
    .h1-like,
    h2,
    .h2-like,
    h3,
    .h3-like,
    caption {
        page-break-after: avoid;
    }

    a {
        text-decoration: underline !important;
        color: #000 !important;
    }

    /* displaying URLs */

    a[href]::after {
        content: " (" attr(href) ") ";
    }

    a[href^="javascript:"]::after,
    a[href^="#"]::after {
        content: "";
    }
}