/* ----------------------------- */
/* ==misc rules	                 */
/* ----------------------------- */

/* styling skip links */

.skip-links {
		position: absolute;
}

.skip-links a {
		position: absolute;
		padding: 0.5em;
		overflow: hidden;
		clip: rect(1px,1px,1px,1px);
		text-decoration: none;
		color: white;
		background: black;
}

.skip-links a:focus {
		position: static;
		overflow: visible;
		clip: auto;
}

@media(--small-screen-and-less) {
		div,
		textarea,
		table,
		td,
		th,
		code,
		pre,
		samp {
				hyphens: auto;
				word-wrap: break-word;
		}
}

/* Google Gmap3 bug fix on images */

.gm-style img {
		height: 100%;
}

:not(.gm-style) img {
		height: auto;
}

.gm-style img,
.gmnoscreen img,
.gmnoprint img {
		max-width: none !important;
}